.register {
    /*-fx-fill: #f22c40;*/
    -fx-fill: #3d2ea3;
    -fx-font-weight: bold;
}

.instruction {
    /*-fx-fill: #6666ea;*/
    -fx-fill: #8b1965;
    -fx-font-weight: bold;
}

.memory {
    /*-fx-fill: #c38418;*/
    -fx-fill: #4e89ff;
    -fx-font-weight: bold;
}

.paren {
    /*-fx-fill: firebrick;*/
    -fx-fill: #96b9a7;
    -fx-font-weight: bold;
}

.bracket {
    /*-fx-fill: #68615e;*/
    -fx-fill: #96b9a7;
    -fx-font-weight: bold;
}

.brace {
    /*-fx-fill: teal;*/
    -fx-fill: #96b9a7;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #7b9726;
}

.comment {
    /*-fx-fill: #766e6b;*/
    -fx-fill: #4667a7;
}

.find {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.section {
    /*-fx-fill: #0080ff;*/
    -fx-fill: #ff8000;
}
