.register {
    -fx-fill: #f22c40;
    -fx-font-weight: bold;
}

.instruction {
    -fx-fill: #6666ea;
    -fx-font-weight: bold;
}

.memory {
    -fx-fill: #c38418;
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: #68615e;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #7b9726;
}

.comment {
    -fx-fill: #766e6b;
}

.find {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.section {
    -fx-fill: #0080ff;
}
