.console {
    -fx-background-color: #3D3C3A;
    -fx-font-size: 14;
    -fx-font-family: "Consolas";
}

.console-font-color {
    -fx-fill: white;
}

.styled-text-area .caret {
    -fx-stroke: white;
}