.table-view .column-header{
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 12;
    -fx-font-family: "Consolas";
}

.table-view .table-column{
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 12;
    -fx-font-family: "Consolas";
}

#colRegisterValue{
    -fx-alignment: CENTER-RIGHT;
    -fx-font-family: "Consolas";
}

#memoryAddress{
    -fx-font-family: "Consolas";
}