/* TreeTableView CSS */
.tree-table-view .column-header{
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-background-color: transparent;
}

.tree-table-view .column-header-background{
    -fx-background-color: #b9b9b9;
}

.tree-table-view .column-header-background .label{
    -fx-text-fill: #1d1d1d;
}

.tree-table-view .table-column{
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

/* Selected Row */
.tree-table-view:focused .tree-table-row-cell:filled:selected {
    -fx-background-color: #FCBD6D;
    -fx-table-cell-border-color: #FCBD6D;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected Row when table not focused */
.tree-table-row-cell:filled:selected {
    -fx-background-color: #FCBD6D;
    -fx-table-cell-border-color: #FCBD6D;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* TableView CSS */
.table-view .column-header{
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #b9b9b9;
}

.table-view .column-header-background .label{
    -fx-text-fill: #1d1d1d;
}

.table-view .table-column{
    -fx-text-fill: -fx-selection-bar-text;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

/* Selected Row */
.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: #79CFCE;
    -fx-table-cell-border-color: #79CFCE;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected Row when table not focused */
.table-row-cell:filled:selected {
    -fx-background-color: #79CFCE;
    -fx-table-cell-border-color: #79CFCE;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
